.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(0 112 255);
  height: 650px;
  width: 40%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* padding-left: 70px; */
  /* padding: 0 20px; */
  border: 10px solid #ebebeb;
}

.login-form h2 {
  color: white;
}

.login-form .inp {
  width: 60%;
  height: 40px;
  outline: none;
  text-indent: 20px;
}

.login-bottom {
  display: flex;
  column-gap: 10px;
  align-items: center;
  color: white;
}

.login-bottom a {
  color: white;
  font-weight: bold;
}

.login-bottom button {
  padding: 7px 15px;
  background-color: #d6ff00;
  border-radius: 2px;
  border: 0.5px solid gray;
}

.success {
  color: green;
}

.wrong {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 112 255);
    height: 650px;
    width: 90%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding-left: 70px; */
    /* padding: 0 20px; */
    border: 10px solid #ebebeb;
  }
}
